.container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1.5em;
    justify-content: space-between;
    align-items: center;
    line-height: 1rem;
    font-size: 1.8rem;
    padding: .25em .5em;
}

.title {
    border: none;
    outline: none;
    color: #fefefc;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    padding: .3em 0;
}

.btns {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 4em;
    gap: .8em;
}

.btnIcons {
    width: .7em;
    height: .7em;
    color: #20B2AA;
}

.btnIcons:active {
    color: #146A6A;
}

.arrowIcon {
    color: #5a595e;
}