.container {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.item {
    border: none;
    display: flex;
    flex-direction: column;
}

.titleContainer {
    border-bottom: 5px solid #000;
    background-color: #3c3c3c;
    padding: .3em 0;
    margin: 0;
    width: 100%;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.h2 {
    padding: 0;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
}

.formInput {
    grid-column: span 2;
    border: 3px solid transparent;
    outline: none;
    width: 100%;
    padding: .2em 1em;
    border-radius: 50px;
    background-color: #EEE;
    color: #333;
    font-size: 1.5rem;
}

.formInput:focus {
    border: 3px solid #20B2AA;
}

.formBtns {
    padding: .3em 1em;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid #20B2AA;
    background-color: #20B2AA;
    border-radius: 50px;
}

.formBtns:active {
    color: #333;
    background-color: #146A6A;
    border-color: #146A6A;
}

.formBtns.left {
    grid-column: 1/2;
}

.formBtns.right {
    grid-column: 2/3;
}

.addBtnContainer {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.addBtnWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addBtnLabel {
    font-size: 1.8rem;
    font-weight: bold;
    color: #EEE;
}

.addBtn {
    color: #EEE;
    width: 3em;
    height: 3em;
    margin: 1em;
    color: #20B2AA;
}

.addBtn:hover {
    color: #146A6A;
}

.addBtn:active {
    color: #333;
}