.header {
    background-color: #20B2AA;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    padding: 1.2em 1em;
    box-shadow: 0px 10px 30px 5px #333;
    margin: 1em;
    border-radius: 10px;
}

.body {
    display: flex;
    justify-content: start;
    align-items: center;
}

.header h1 {
    color: #FFF;
    font-weight: bold;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.logo {
    width: 1.9em;
    height: 1.9em;
    margin-right: .5em;
}