.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 3.5em;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #20B2AA;
    padding: 0;
}

.btnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}