.container {
    max-width: 100%;
}

h2 {
    padding: .5em;
}

.body {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.bodyInner {
    display: flex;
    gap: 1em;
    padding: 1em;
    width: max-content;
}