.container {
    max-width: 100%;
}

h2 {
    padding: .5em;
}

.body {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.bodyInner {
    display: flex;
    gap: 1em;
    padding: 1.5em;
    width: max-content;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.imgContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img {
    width: 70px;
    height: 70px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

