/*|||||||||| DESKTOP ||||||||||*/

.listItem {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: .7em 1em .7em 0;
}

.lististItemSelected {
    background-color: #EEE;
    border-radius: 8px;
    font-weight: bold;
}

.itemTitle {
    font-size: 1.2rem;
    margin: 0;
    color: #20B2AA;
    padding: 1em 1em .5em;
}

.itemUpdated {
    color: #AAA;
    font-style: italic;
    width:75%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    padding: 0 1em 1em;
}

.itemDeleteBtn {
    font-weight: bold;
    padding: 10px;
    text-align: right;
}

/*|||||||||| MOBILE ||||||||||*/

@media only screen and (max-width: 600px) {

}