/* Navigation Button */

.menuBtn {
    position: absolute;
    z-index: 10;
    background-color: transparent;
    color: #fefefc;
    padding: 0;
    margin: .45em .2em;
    border: none;
}

.openMenuIcon {
    width: 3rem;
    height: 3rem;
    margin: .54em .75em;
}

.closeMenuIcon {
    width: 2.3rem;
    height: 2.3rem;
    margin: .88em 1.1em;
}

/* Logo Section */

.logoSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #20B2AA;
    border-radius: 10px;
    width: 100%;
    padding: 1em 1em .9em 4.94em;
    margin: 0;
    line-height: 1.7rem;
}

.logoText {
    border-left: 2px solid #FFF;
    padding-left: 1.5em;
}

.logoText h2 {
    font-size: 1.6rem;
    font-weight: bold;
    color: #fefefc;
    margin: 0;
    padding: 0;
}

.logoText h3 {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin: 0;
    margin-top: -7px;
}

/* Menu */

@keyframes expandMenu {
    from { transform: translateX(-108%); }
    to { transform: translateX(0); }
}

@keyframes condenseMenu {
    from { transform: translateX(0); }
    to { transform: translateX(-108%); }
}

.navMenu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-color: #000;
    color: #fefefc;
    padding: 1.2em;
    margin: 0;
    box-shadow: 20px 0 5px -2px #00000044;
}

.navMenu.open {
    animation: expandMenu 0.4s forwards;
}

.navMenu.closed {
    animation: condenseMenu 0.4s forwards;
}

.navMenuUl {
    padding: 0;
    margin: 2.3em 0 0 0;
    height: fit-content;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    border: 1px solid #1c1c1e;
    border-radius: 10px;
}