.container {
    padding: 1.5em 2em 2em;
    height: 500px;
    overflow-y: auto;
    line-height: 3.3rem;
    background-color: #333;
    border-radius: 0;
}

.gridItemsContainer {
    max-height: 180px; /* Original: 280px */
    overflow-y: auto;
}

.gridItemsBody {
    height: max-content;
    overflow-y: auto;
    overflow-x: hidden;
}

.gridHeadings3Col,
.gridItems3Col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    text-align: center;
    align-items: center;
}

.gridHeadings3Col {
    font-weight: bold;
    color: #fefefc;
    border-bottom: none;
}

.gridItems3Col {
    border-bottom: 1px solid #1c1c1e;
    color: #fefefc;
    line-height: 2.7rem;
}

.noBottomBorder {
    border-bottom: none;
}

.deleteBtnIcon {
    width: 1.3em;
    height: 1.3em;
    color: #20B2AA;
    margin-bottom: -.35em;
}

.dateRow {
    background-color: #20B2AA;
    color: #1c1c1e;
    line-height: 2rem;
    border-radius: 10px;
    margin: .5em 0;
}

.dateRowText {
    font-size: 1.1rem;
    font-style: italic;
    font-weight: bold;
    padding: 0 1em;
}

/* Form */
.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    align-items: start;
    justify-content: space-between;
    padding: 1.5em 0 1.5em 0;
    border-top: 1px solid #fefefc;
    position: sticky;
    bottom: 0;
    left: 0;
}

.formTimeLabel {
    color: #fefefc;
}

.formSelect {
    border: 3px solid transparent;
    outline: none;
    width: 100%;
    background-color: #1c1c1e;
    color: #fefefc;
    text-align: center;
    border-radius: 50px;
    margin-bottom: .5em;
}

.formInput {
    grid-column: 1/2;
    border: 3px solid transparent;
    outline: none;
    width: 100%;
    padding: 0 1em;
    border-radius: 50px;
    background-color: #fefefc;
    color: #000;
    font-size: 1.25rem;
    line-height: 1.9rem;
    text-align: center;
}

.formInput:focus,
.formSelect:focus {
    border: 3px solid #20B2AA;
}

.formBtnContainer {
    grid-column: span 2;
}

.formBtns {
    width: 100%;
    padding: .1em 1em;
    font-size: 1.125rem;
    line-height: 1.7rem;
    border: 1px solid #20B2AA;
    background-color: #20B2AA;
    border-radius: 50px;
}

.formBtns:active {
    color: #1c1c1e;
    background-color: #146A6A;
    border-color: #146A6A;
}

.formBtns.disabled {
    background-color: #808080;
    border: 1px solid #808080;
}

.btnIcons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnIcons {
    width: 1.7em;
    height: 1.7em;
    color: #fefefc;
    width: 100%;
}