.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    align-items: center;
    justify-content: center;
    background-color: #141414;
  }

@keyframes pageSlideLeft {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

@keyframes pageSlideRight {
    from { transform: translateX(0); }
    to { transform: translateY(100%); }
}

.container.open {
    animation: pageSlideLeft 0.2s forwards;
}

.container.closed {
    animation: pageSlideRight 0.2s forwards;
}

.body {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em;
}