body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/*

COLORS:

TEXT:
- Headings / Item Titles         [White]                #fefefc
- Normal Text                    [Medium Grey]          #4f4e51
- Links / Theme Colors           [Aqua Green]           #20B2AA
- Active Links (Background)      [Dark Aqua Green]      #146A6A
- Active Links (Color)           [Dark Grey]            #1c1c1e

BACKGROUNDS & TABS:
- Page Background                [Black]                #000
- Item Tabs                      [Dark Grey]            #1c1c1e
- Tab Arrows Icons               [Grey]                 #5a595e
- Item Tabs Bottom Border        [Dark Grey]            #333
- Accordion Content Background   [Dark Grey]            #333

FORMS:
- Input Fields                   [White]                #fefefc
- Text Color                     [Black]                #000

BUTTONS:
- Disabled Button                [Grey]                 #808080
- Button Background              [Aqua Green]           #20B2AA
- Button Text                    [White]                #fefefc
- Button Active Background       [Dark Aqua Green]      #146A6A
- Button Active Text             [Dark Grey]            #1c1c1e

TOGGLE SWITCHES:
- Toggle On                      [Green]                #6ace66
- Toggle Off                     [White]                #fff

HR TAG:
- <hr> Tag Color                 [Light Grey]           #808080

*/

h1 {
  font-size: 1.875rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

p {
  font-size: 1rem;
}

li {
  list-style-type: none;
}

/* Dialog Popup */
.dialog-delete-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.dialog-trigger-btn {
  position: relative;
}

.dialog-title {
  color:rgb(206, 25, 25);
  font-size: 1.3rem;
}

.dialog-text {
  font-size: 1.2rem;
  text-align: left;
  margin: 0 1.5em;
}

.dialog-delete-confirm-btn {
  background-color: rgb(206, 25, 25);
  font-size: 1.2rem;
  color: #EEE;
}

.dialog-delete-confirm-btn:active {
  background-color: rgb(98, 10, 10);
  color: #333;
}

.dialog-delete-cancel-btn {
  background-color: #20B2AA;
  font-size: 1.2rem;
  color: #EEE;
}

.dialog-delete-cancel-btn:active {
  background-color: #146A6A;
  color: #333;
}
